 body {
   background-color: #fff3e6;
 }

 hr {
   border-color: grey;
   border-style: dotted none none;
   border-width: 5px;
   width: 5%;
 }

 h1 {
   font-size: 50px;
   background: -webkit-linear-gradient(#d8ac9c, #5f939a);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
 }

h3 {
  background: -webkit-linear-gradient(#5f939a, #d8ac9c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
